h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: sans-serif;
}

html {
  height: auto;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

.title {
  font-size: 8vmax;
  text-align: center;
  font-weight: bold;
  color: rgb(28, 87, 26, 0.5);
}
.titlex {
  font-size: 2vmax;
  text-align: center;
  font-weight: bold;
  color: rgba(29, 194, 117, 0.5);
  margin-top: 0vmax;
}
.title2 {
  font-size: 5vmax;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 1vmax;
  margin-bottom: 2vmax;
  color: #1c571a80;
}

.start {
  text-align: center;
}

a:link {
  font-size: 3vmax;
  color: #1c571a80;
  text-decoration: none;
}

a:visited {
  color: #1c571a80;
}

a:hover {
  color: aquamarine;
  font-weight: bold;
}

.copyright {
  font-size: 1vmax;
  vertical-align: text-bottom;
  text-align: center;
}

.bigButton {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(48, 48, 48, 0.5);
  color: #1c571a80;
  font-size: 4vmax;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 2vmax;
  padding-right: 2vmax;
}

.assignButton {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(48, 48, 48, 0.5);
  color: #1c571a80;
  font-size: 2vmax;
  cursor: pointer;
  margin: 1vmax;
  margin-bottom: 1vmax;
  margin-left: 2vmax;
}

.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.accordion {
  margin-right: 10vmax;
  margin-left: 10vmax;
  text-align: center;
}

.accordionHeader {
  font-size: 3vmax;
  font-family: sans-serif;
  background-color: #1c571a80;
  margin-bottom: 1vmax;
}

.studentHeader {
  font-size: 2vw;
  font-family: sans-serif;
  background-color: #00000080;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
}

.accordionBody {
  font-family: sans-serif;
  text-align: center;
  font-size: 1vmax;
}

.studentBody {
  font-family: sans-serif;
  text-align: center;
  margin-top: 1vmax;
  margin-left: 20vmax;
  margin-right: 20vmax;
  margin-bottom: 1vmax;
  font-size: 1vmax;
  background-color: #00000080;
}

.textbox {
  font-family: sans-serif;
  text-align: center;
  margin: 2vmax;
  font-size: 3vmax;
  size: 3vmax;
}

.password {
  font-size: 3vmax;
  height: 3vmax;
  width: 30vmax;
  margin-bottom: 5vmax;
}

.username {
  font-size: 3vmax;
  height: 3vmax;
  width: 30vmax;
  margin-bottom: 1vmax;
}
